.login-form {
    animation: moveRightToLeft .2s ease-in-out;
}

.create-account-form {
    animation: moveLeftToRight .2s ease-in-out;
}

@keyframes moveRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes moveLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(5%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100;
        transform: translateX(0);
    }
}